---
layout: home
title: VAS Support
---

<div class="page-header">
  <h2>Help Guides</h2>
</div>

<div class="row help-tile-row">
  <div class="col-sm-4 help-tile">
    {% for post in site.categories.chemwatch | limit:1 %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/assets/chemwatch-logo.png" class="img-rounded" />
      </a>
    {% endfor %}
  </div>
  <div class="col-sm-4 help-tile">
    {% for post in site.categories.feedwatch | limit:1 %}
      <a href="{{ site.baseurl }}/guides/feedwatch/">
        <img src="http://placehold.it/350x250&text=FeedWatch" class="img-rounded" />
      </a>
    {% endfor %}
  </div>
</div>

<div class="page-header">
  <h2>Video Guides</h2>
</div>
<div class="row video-tile-row">
  <div class="col-sm-4 video-tile">
    <div class="overlay">
      <a href="{{ site.baseurl }}/videos/feedwatch/adding-new-ingredient/">
        <img src="http://img.youtube.com/vi/ft0bAxOWFaU/0.jpg" class="img-rounded" width="350" height="250" />
      </a>
      <p class="text-left">Adding A New Ingredient</p>
    </div>
  </div>
  <div class="col-sm-4 video-tile">
    <div class="overlay">
      <a href="{{ site.baseurl }}/videos/feedwatch/modify-dm/">
        <img src="http://img.youtube.com/vi/auXY0T6vSak/0.jpg" class="img-rounded" width="350" height="250" />
      </a>
      <p class="text-left">Modify Ingredient DM%</p>
    </div>
  </div>
</div>