<div class="row help-tile-row">
  <div class="col-sm-4 help-tile">
    {% for post in site.categories.setup | limit:1 %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/assets/feedwatch-setup.jpg" class="img-rounded" />
      </a>
    {% endfor %}
  </div>
  <div class="col-sm-4 help-tile">
    {% for post in site.categories.pens | limit:1 %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/assets/feedwatch-pens.jpg" class="img-rounded" />
      </a>
    {% endfor %}
  </div>
  <div class="col-sm-4 help-tile">
    {% for post in site.categories.recipes | limit:1 %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/assets/feedwatch-recipes.jpg" class="img-rounded" />
      </a>
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col-sm-4 help-tile">
    {% for post in site.categories.ingredients | limit:1 %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/assets/feedwatch-ingredients.jpg" class="img-rounded" />
      </a>
    {% endfor %}
  </div>
  <div class="col-sm-4 help-tile">
    {% for post in site.categories.inventory | limit:1 %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/assets/feedwatch-inventory.jpg" class="img-rounded" />
      </a>
    {% endfor %}
  </div>
  <div class="col-sm-4 help-tile">
    {% for post in site.categories.reports | limit:1 %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/assets/feedwatch-reports.jpg" class="img-rounded" />
      </a>
    {% endfor %}
  </div>
</div>
