<div class="row help-tile-row">
  <div class="col-sm-4 help-tile">
    <img src="http://placehold.it/350x250&text=Setup" class="img-rounded" />
    <p class="text-left">Setup</p>
  </div>
  <div class="col-sm-4 help-tile">
    <img src="http://placehold.it/350x250&text=Pens" class="img-rounded" />
    <p class="text-left">Pens</p>
  </div>
  <div class="col-sm-4 help-tile">
    <a href="/guides/recipes/creating-a-recipe/">
      <img src="http://placehold.it/350x250&text=Recipes" class="img-rounded" />
    </a>
    <p class="text-left">Something about a description about recipes</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 help-tile">
    <a href="/guides/ingredients/adding-an-ingredient/">
      <img src="http://placehold.it/350x250&text=Ingredients" class="img-rounded" />
    </a>
    <p class="text-left">Ingredients</p>
  </div>
  <div class="col-sm-4 help-tile">
    <img src="http://placehold.it/350x250&text=Inventory" class="img-rounded" />
    <p class="text-left">Inventory</p>
  </div>
  <div class="col-sm-4 help-tile">
    <img src="http://placehold.it/350x250&text=Reports" class="img-rounded" />
    <p class="text-left">Reports</p>
  </div>
</div>
