<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="home">

    {% include navigation.html %}

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome</h1>
        <p>A tremor in the Force. The last time I felt it was in the presence of my old master. What!? He is here. Don't underestimate the Force.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div id="main" class="container">
      {{ content }}
      
      {% include footer.html %}
    </div>
    </body>
</html>
