<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="video">

    {% include navigation.html %}

    <div id="main" class="container">
      <div class="row text-center">
        {{ content }}
      </div>
      
      <div class="page-header">
        <h2>More Videos</h2>
      </div>
      <section id="video-thumbs">
        <div class="col-sm-12">
          {% for post in site.categories.videos %}
          <div class="col-sm-3">
            <a href="{{ site.baseurl }}{{ post.url }}"><img src="http://img.youtube.com/vi/{{ post.thumbnail }}/0.jpg" class="thumbnail" width="200" height="150" /></a>
          </div>
          {% endfor %}
        </div>
      </section>
      <div class="clearfix"></div>
      {% include footer.html %}
    </body>
</html>
